.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

img {
    background: hsl(259, 100%, 65%);
}
img:hover {
    background: hsl(0, 0%, 8%);
}