.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background: hsl(0, 0%, 94%);
    font-family: Poppins;
}
.container {
    background: hsl(0, 0%, 100%);
    border-radius: 20px 20px 100px 20px;
    margin-top: 90px;
    padding: 40px 10px;
}

/*top div*/
.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 20px;
}
label {
    display: block;
}
input {
    max-width: 75px;
    height: 45px;
}
.invalidInput {
    border: red 1px solid;
}
.error {
    color: red;
}
.hidden {
    display: none;
}
.top p {
    font-size: 11px;
}

/*middle div*/
.middle {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    border: none;
    background: hsl(0, 0%, 100%);
}
img {
    background: hsl(259, 100%, 65%);
}
img:hover {
    background: hsl(0, 0%, 8%);
}

/*bottom div*/
.bottom {
    font-size: 32px;
}
p {
    display: inline;
}
span {
    color: hsl(259, 100%, 65%);
}
