.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

.container {
    background: hsl(217, 19%, 24%);
    border-radius: 10px;
    margin: 100px 10px;
    padding: 15px;
    position: relative;
    max-width: 500px;
}

.adviceNumber {
    color: hsl(150, 100%, 66%);
    text-align: center;
    letter-spacing: 3px;
}

.dice {
    background: hsl(150, 100%, 66%);
    border: 15px solid hsl(150, 100%, 66%);
    border-radius: 25px;
    position: absolute;
    bottom: -25px;
    left: 43%;
}

.dice:hover {
    box-shadow: 0px 0px 30px hsl(150, 100%, 66%);
    transition: all 0.2s ease-in;
}

.advice {
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    text-align: center;
}

.divider {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}