.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* base styles */
body {
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-mobile.png);
    font-size: 16px;
    color: white;
}

h2 {
    margin: 20px 40px;
    margin-top: 70px;
    letter-spacing: 1px;
}
.intro {
    margin-bottom: 40px;
    text-align: center;
    padding: 15px;
}
.intro, .form {
    max-width: 500px;
}
.hidden {
    display: none;
}
.error {
    color:hsl(0, 100%, 74%);
    font-style: italic;
    font-size: 11px;
    text-align: right;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* header styles */
.header {
    background: hsl(248, 32%, 49%);
    border-radius: 8px;
    margin: 20px;
    padding: 0px 30px;
    box-shadow: 0px 8px hsla(248, 32%, 49%, 0.3);
}
.header p {
    text-align: center;
    padding: 20px;
}
.header span {
    font-weight: bold;
}

/* form styles */
form {
    background: white;
    margin: 25px 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 8px hsla(248, 32%, 49%, 0.3);
}
input {
    margin: 10px 5px;
    padding: 20px 15px;
}
input[type=text], input[type=password] {
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 95%;
    box-sizing: border-box;
}

.button {
    background: hsl(154, 59%, 51%);
    color: white;
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 5px;
    box-shadow: 0px 5px hsla(154, 59%, 35%, 0.7);
    width: 95%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 15px 15px 15px;
}
form .terms{
    color: hsl(246, 25%, 77%);
    font-size: 11px;
    padding: 0px 30px;
}
.terms a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: bold;
}


/* media queries */
@media screen and (min-width: 1030px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        margin: auto 0;
        flex-wrap: wrap;
    }
    .intro, .form {
        display: inline-block;

    }
    .intro p {
        text-align: left;
    }
    h2 {
        font-size: 48px;
        text-align: left;
        margin-left: 0;
        line-height: 1.1;
    }
    .form {
        max-width: 570px;
    }
    footer {
        position: relative;
    }
    .attribution {
        position: absolute;
        top: 300px;
        left: -400px;
    }
}
