
.attribution {
    font-size: 11px; 
    text-align: center; 
    margin-top: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* base styles */
body {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.rules {
    color: white;
    width: 33%;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 8px 5px;
    margin: auto;
    margin-top: 50px;
}

/* header styles */
.header {
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 5px;
    margin: 20px;
}
.header img {
    width: 25%;
    margin-top: 20px;
    margin-left: 20px;
}
.score {
    display: inline-block;
    margin: auto;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}
.header p {
    color: hsl(229, 64%, 46%);
    margin: 0;
    font-size: 12px;
}
.header span {
    color: hsl(229, 25%, 31%);
    font-size: 36px;
}

/* game styles */
.playground {
    margin:  100px 20px;
}
